body {
  height: 100vh;
  background-color: #2f3238;
  margin: 0;
}
.icon {
  border-radius: 320px;
  border: 20px solid black;
  width: 300px;
  height: 300px;
}
.profile {
  fill: black;
  transition: fill 0.5s ease-out 0s, border-color 0.5s ease-out 0s;
}
.links {
  stroke: black;
  transition: stroke 0.5s ease-out 0s, border-color 0.5s ease-out 0s;
}
.profile:hover {
  fill: lime;
  border-color: lime;
}
.links:hover {
  stroke: cyan;
  border-color: cyan;
}
